*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    user-select: none;
}
.cart{
    position: fixed;
    right: 0;
    z-index: 50;
    height: 100vh;
    width: 0;
    background-color: #ffffff;
    overflow: hidden;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: black;
}
.navbar ul li a:hover{
    color:#2A6049;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 30;
    height: 80px;
    background-color: white;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.searchbar{
    position: relative;
}
.searchbar input{
    width: 150px;
    height: 25px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}
.login{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
}
.login:hover{
    cursor: pointer;
}
.shopicon{
    background:none ;
    border: none;
}
.backarrow:hover{
    cursor: pointer;
}
.shopicon:hover{
    cursor: pointer;
}
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
.s1{
    width: 100%;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    display: grid;
    place-items: center;
}
.imagescontainer{
    box-sizing: border-box;
    width: 90%; 
    height:90%;
    overflow: hidden;
    position: relative;
}
.images{
    display: flex;
    position: relative;
    z-index: 5;
    animation: imagesanimation 35s linear 10s infinite;
}
@keyframes imagesanimation {
    0%{transform: translate(0%);}
    25%{transform: translate(0%);}
    26%{transform: translate(-100%);}
    50%{transform: translate(-100%);}
    51%{transform: translate(-200%);}
    75%{transform: translate(-200%);}
    76%{transform: translate(-300%);}
    99%{transform: translate(-300%);}
}
.shopnow{
    display: block;
    height: 50px;
    width: 130px;
    color: #000000;
    text-decoration: none;
    background-color: rgb(106, 172, 86,1);
    box-sizing: border-box;
    padding: 15px;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid #2A6049;
    transition: all;
    transition-duration: 0.5s;
}
.shopnow:hover{
    color: #2A6049;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
.s2{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.itemslist{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.itemlist{
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.itemslist2{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.itemlist2{
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.imageitem1list{
    width: 190px;
    height: 190px;
    object-fit: contain;
}
.incdec{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.addtocart{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    background: none;
}
.addtocartp{
    margin: auto;
}
.addtocart:hover{
    cursor: pointer;
}
.tick{
    display: none;
    margin: auto;
}
.number{
    font-size: 30px;
}
.inc{
    font-size: 30px;
}
.dec{
    font-size: 30px;
}
.inc:hover{
    cursor: pointer;
}
.dec:hover{
    cursor: pointer;
}
.next{
    height: 90%;
    display: grid;
    place-items: center;
}
.next span{
    user-select: none;
}
.next span:hover{
    cursor: pointer;
}
.prev{
    height: 90%;
    display: grid;
    place-items: center;
}
.prev span{
    user-select: none;
}
.prev span:hover{
    cursor: pointer;
}
.last{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.serve{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    height: 50vh;
    width: 100%;
    background-color: #2A6049;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 35px;
}
.store{
    color: white;
    text-transform: capitalize;
}
.store ul li{
    list-style: none;
    margin-top: 7px;
}
.store ul li a{
    text-decoration: none;
    color: white;
    
}
.address{
    color:white;
    width: 200px;
    line-height: 25px;
}
.timing{
    color:white;
    width: 200px;
    line-height: 25px;
}
.emailinput{
    height: 30px;
    width: 200px;
    outline: 1px solid white;
    background: transparent;
}
.emailinput:active{
    outline-color:red;
}
.subscription{
    box-sizing: border-box;
    width: 200px;
}
.subscribebtn{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    transition: all;
    transition-duration: 0.5s;
}
.subscribebtn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.cartiteminf{
    font-weight: 200;
    font-size: 12px;
    color: gray;
    margin: 3px;
}
.cartitems{
    height: 70%;
    width: 250px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid grey;
}